node_modules/
venv/
References/

# -------------------------
# Ignore file tạm Microsoft Office & LibreOffice
# -------------------------

# Excel temp files (MS Office)
~$*.xls*
*.xlk

# Word temp files (MS Office)
~$*.doc*
*.wbk

# PowerPoint temp files (MS Office)
~$*.ppt*
*.ppam
*.ppsm
*.ppsx
*.pptm
*.potx
*.potm

# LibreOffice / OpenOffice lock files
.~lock.*#

# General Office backup files
*.bak
